.App {
  /* background-image: url("imaget.png");
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed; /* Optionnel : pour que l'arrière-plan reste fixe pendant le défilement */
  width: 100vw; /* Remplit toute la largeur de la vue écran */
  height: 100vh; /* Remplit toute la hauteur de la vue écran */
  /* Autres styles pour le contenu du composant */

}


.landing {
  /* background-image: url("Tortue.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed; Optionnel : pour que l'arrière-plan reste fixe pendant le défilement */
  width: 100%; /* Remplit toute la largeur de la vue écran */
  height: 100%; /* Remplit toute la hauteur de la vue écran */
  /* Autres styles pour le contenu du composant */
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #ecd7a0, #ecd7a0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}


.fixation {
 
  width: 100vw;
  height: 50px;
  
}



p{
  padding: 20px;
}

.container {
  border: 1px solid blue;
  width: 100vw;
  height: 100vh; /* Remplit toute la hauteur de la vue écran */
  
  display: flex;
  justify-content: center;
  background-color: black;
  
}

.content {
  border: 1px solid green;
  width: 70%;
  
}
.image{
  max-width: 100%;
  max-height: 100%;
  mask-image: radial-gradient(circle at center, transparent 30%, black 100%); /* Masque en fondu radial */
}

.articles {
 
  width: 30%;
  
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
